<div class="row justify-content-between">
  <% @letters.each do |letter| %>
    <div class="col">
      <p class="letter"><%= letter %></p>
    </div>
  <% end %>
</div>
  
<form method="post" action="score" class="row mt-3">
  <div class="col-10 p-0">
    <input type="text" name="word" class="form-control">
    <%= hidden_field_tag :letters, @letters %>
  </div>
  <div class="col-2 p-0">
    <input type="submit" value="Submit word!" class="btn btn-primary purple">
  </div>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
